*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height:100vh;
    width: 100%;
    background-image: url("/Assets/background.jpg");
    position: absolute;
    background-repeat: no-repeat;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url("/Assets/trees.png");
    background-size: cover;
    position: absolute;
    top: -144px;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url("/Assets/track.png");
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carmove linear 6s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url("/Assets/car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: shake linear 3s infinite;
}
.wheel{
}
.wheel1 img{
    width: 77px;
    position: relative;
    top: 37px;
    left: 42px;
    animation: wheelrotation linear .6s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -42px;
    left: 233px;
    animation: wheelrotation linear .6s infinite;
}
@keyframes wheelrotation {
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes carmove {
    100%{
        transform: translate(-500vw);
    }
    
}
@keyframes shake {
    0%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
    
}