@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Oswald:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../assets/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background: linear-gradient(rgb(131, 113, 249), rgb(237, 237, 156));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(216, 98, 98), rgb(232, 232, 154));
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 8px;
}

.snake {
    background: purple;
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 12px;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    /* font-weight: bold; */
    font-family: 'Foldit', cursive;
    font-family: 'Oswald', sans-serif;
}

#HighscoreBox {
    position: absolute;
    top: 55px;
    right: 138px;
    font-size: 39px;
    /* font-weight: bold; */
    font-family: 'Foldit', cursive;
    font-family: 'Oswald', sans-serif;
}